<!---------- レシピ投稿フォーム -------------->

<div class="container align-imtes-center">
  <div style='width: 90%' class='login-bg mx-auto mb-5'>

  <%= form_with model: @post_recipe, local:true do |f| %>
    <div class="row">
      <div class="form-group mt-5 mx-auto">
        <%= f.text_field :title, placeholder: "レシピ名", size: "90", class:'py-2 px-2' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mt-3 offset-md-1">
        <div class="form-group mt-4 ml-5">
          <%= f.text_area :introduction, placeholder: "料理の簡単な説明（キャプション）", size:"50 x 4", class:'p-2' %>
        </div>
      </div>
      <div class="col-md-5 mt-3 pl-4 pt-2">
        <div class="from-group mt-3 ml-5 p-3 bg-white shadow-sm">
          <h6 class="mb-3"><i class="fas fa-camera font-color mr-2"></i>写真をアップロード</h6>
          <%= f.attachment_field :recipe_image %>
        </div>
      </div>
    </div>

    <!------------ 材料登録蘭 -------------->
    <div style='width: 45%' class="mt-4 border px-5 pt-4 pb-3 bg-white mx-auto shadow-sm">
      <div class="row">
        <div class="form-inline mb-2">
          <h4 class="mb-0">材料</h4>
          <%= f.text_field :serving, placeholder: "何人分", size:"10x3", class:'ml-4' %>
        </div>
      </div>

      <div class="row">
        <table class="table table-borderless mb-0">
          <thead>
            <th class="pb-1"><h6 class="mb-0">材料・調味料</h6></th>
            <th class="pb-1"><h6 class="mb-0">分量</h6></th>
          </thead>
          <tbody>
            <div id="ingredients">
              <%= f.fields_for :ingredients do |ingredient| %>
                <tr><%= render partial: 'ingredient_fields', locals: { f: ingredient } %></tr>
              <% end %>
            </div>
          </tbody>
        </table>
        <div class='links my-3 ml-2 btn btn-sm btn-warning py-0'>
          <%= link_to_add_association '材料を追加', f, :ingredients %>
        </div>
      </div>
    </div>

    <!------------ 作成手順登録蘭 -------------->
    <div style='width: 70%' class="mt-3 px-5 pt-4 mx-auto border-0">
      <div class="row">
        <h4 class="text-center mx-auto mb-0">つくり方</h4>
      </div>

      <div class="row">
      <% step_num = 0 %>
        <table class="table table-borderless">
          <tbody>
            <%= f.fields_for :procedures do |procedure| %>
         　    <% step_num += 1 %>
              <%= render partial: 'procedure_fields', locals: { f: procedure, step_num: step_num } %>
            <% end %>
          </tbody>
        </table>
        <div class='links mb-3 btn btn-sm btn-warning py-0'>
          <%= link_to_add_association '手順を追加', f, :procedures, render_options: {locals: { step_num: step_num }} %>
        </div>
      </div>
    </div>

    <div class="row mt-4 pb-5">
      <div class="form-inline mx-auto">
        <%= f.submit 'レシピを公開', :name => 'post', style: 'font-size: 20px', class:'mr-5 btn btn-sm btn-success' %>
        <%= f.submit '下書きに保存', :name => 'update', style: 'font-size: 20px', class:'mr-5 btn btn-sm btn-outline-secondary' %>
      </div>
    </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>

  </div>
</div>