<!---------- 顧客側：レシピ詳細 -------------->
<div class="container mb-5">
  <%= render partial: '/shared/recipe_show', locals: { post_recipe: @post_recipe } %>

<!--コメント投稿フォーム-->
  <%= form_with model:[@post_recipe, @comment], remote: true do |f| %>
  <div class="row mt-3">
    <div class="form-group mb-1 mx-auto">
      <%= f.text_area :comment, size:'60x4', placeholder:"コメントを入力", class: 'p-3 comment-content' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group offset-md-8">
      <%= f.submit "送信", class:'btn btn-sm btn-outline-secondary'%>
    </div>
  </div>
  <% end %>

  <div class="row mt-4">
    <div class="mx-auto">
      <% if @post_recipe.user_id == current_user.id %>
        <u><%= link_to "レシピを編集する", edit_post_recipe_path(@post_recipe.id), class: 'btn btn-sm btn-warning text-white mb-4' %></u>
      <% end %>
    </div>
  </div>
</div>