<div class="container">

  <div class="row">
    <h3 class="admin-page-title mx-auto mt-5 py-2 pl-4">レシピ一覧</h3>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-8">
      <h6 class="text-right mr-5 jp-font">レシピ数：<%= @recipe_count %>件</h6>
    </div>
  </div>

  <div class="row">
    <table style="width: 80%" class="table table-borderless mx-auto">
      <% @recipes.each do |recipe| %>
        <tr class="mt-5 border-bottom">
          <td style="width: 5%" class="text-center">
            <%= link_to (attachment_image_tag recipe, :recipe_image, :fill, 70, 70, format: 'jpeg', class: 'rounded-circle'), admin_recipe_path(recipe.id) %>
          </td>
          <td style="width: 35%">
            <u><%= link_to recipe.title, admin_recipe_path(recipe.id) %><br /></u>
            <p class="mt-2"><%= recipe.introduction %></p>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto mt-4 mb-5">
    <%= paginate @recipes %>
    </div>
  </div>
</div>