<div class="container">

  <div class="row mt-5">
    <div class="mx-auto">
      <h3 class="jp-font text-center font-weight-bold">お問い合わせ</h3>
      <p class="jp-font text-center font-weight-bold">チャット</p>
    </div>
  </div>

  <div class="add-chat-bubble">
    <%= render partial: 'chat_bubbles', locals: { chats: @chats, user: @user  } %>
  </div>

  <!--チャットメッセージ投稿フォーム-->
  <%= form_with model: [:admin, @chat], remote: true do |f| %>
    <div class="row">
      <div class="error_explanation offset-md-3"></div>
    </div>
    <div class="row mt-1">
      <div class="form-group mb-1 mx-auto">
        <%= f.text_area :message, size:'67x4', placeholder:"メッセージを入力", class: 'p-3 clear-form' %>
        <%= f.hidden_field :chat_room_id %>
      </div>
    </div>
    <div class="row mb-5">
      <div class="form-group offset-md-8">
        <%= f.submit "送信", class:'btn btn-sm btn-outline-secondary ml-4'%>
      </div>
    </div>
  <% end %>

</div>
