<!--------- レシピの検索結果表示画面 ------------>

<div class="container">
  <% if params[:q].present? && params[:q][:title_cont].present? %>
    <h3 class="mt-5 pl-2"><span class="fas fa-search"></span>「<%= params[:q][:title_cont] %>」のレシピ</h3>
  <% else %>
    <h4 class="mt-5 pl-2">気になるレシピを検索 <span class="fas fa-search"></span></h4>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <hr class="border-bottom"></hr>
    </div>
  </div>

  <div class="row mb-5">
    <% if params[:q].present? && params[:q][:title_cont].present? %>
      <div class="d-flex flex-wrap">
      <% @new_recipes.each do |new_recipe| %>
        <div class="card text-center mt-3 p-3 ml-4 mb-3">
          <%= link_to (attachment_image_tag new_recipe, :recipe_image, :fill, 150, 150, format: 'jpeg'), post_recipe_path(new_recipe.id), class:'card-img-top' %>
          <%= link_to new_recipe.title, post_recipe_path(new_recipe), class:'card-text text-wrap mt-1' %>
          <%= link_to new_recipe.user.name, user_path(new_recipe.user), class:'card-text text-wrap font-color' %>
        </div>
      <% end %>
      </div>
      <div class="mx-auto mt-4 mb-5">
        <%= paginate @new_recipes %>
      </div>
    <% else %>
      <p class="mt-5 mx-auto">検索窓より検索をお試しください</p>
    <% end %>
  </div>

</div>