<!--------------問い合わせフォーム ---------------->
<% breadcrumb :form_inquiry %>

<div style="height: 650px", class="d-flex align-items-center">
  <div class="border mx-auto">

    <div class="pt-4 px-3">
      <div class="container">

        <div class="row">
          <h4 class="jp-font-classic text-center mx-auto">お問い合わせ</h4>
        </div>
        <div class="row mb-2">
          <h6 class="jp-font-classic text-center mx-auto">フォーム</h6>
        </div>

        <div class="mt-4 d-flex">
          <p class="font-weight-bold mr-1">ユーザー名：</p>
          <%= current_user.name %>
        </div>

        <div class="mt-2 d-flex">
          <p class="font-weight-bold mr-1">メールアドレス：</p>
          <%= current_user.email %>
          </div>

        <%= form_with model: @form_inquiry, local:true do |f| %>
          <div class="form-group mt-4">
            <%= f.label :content, 'お問い合わせ内容:', class: 'mb-0 font-weight-bold' %><br />
            <%= f.text_area :content, size: "48x6", class: 'p-2' %>
            <%= render 'layouts/error_messages', obj: @form_inquiry, column: :content %>
          </div>

          <div class="row  mt-2 mb-4">
            <div class="actions mx-auto">
              <%= f.submit "送信", class: 'btn btn-sm btn-color text-white font-weight-bold' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>
