<!---------- レシピ詳細 -------------->

  <div class="row">
    <div class="mx-auto mt-4">
      <h2 class="jp-font"><%= post_recipe.title %></h2>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <p class="jp-font">by <%= link_to "#{post_recipe.user.name}", user_path(post_recipe.user.id), class:'text-success user-link' %></p>
    </div>
  </div>

  <div class="row mt-2">
    <%= attachment_image_tag post_recipe, :recipe_image, :fill, 500, 400, format: 'jpeg', class:'mx-auto' %>
  </div>

  <div class="row mt-4 mb-3">
    <p style="width: 450px" class="mx-auto text-wrap text-center"><%= post_recipe.introduction %></p>
  </div>

  <!--いいねボタンとレシピ保存ボタンの部分テンプレートを表示-->
  <%= render partial: '/shared/like_save_buttons', locals: { post_recipe: post_recipe } %>

  <div class="row mt-4">
    <table style="width: 45%" class="table table-borderless mx-auto">
      <thead class="border-bottom">
        <th class="d-flex pb-0 mb-2">
          <h5 class="mb-0 jp-font font-weight-bold">材料</h5>
          <p class="mb-0 ml-1 pt-1 jp-font">（<%= post_recipe.serving %>人前）</p>
        </th>
        <th></th>
      </thead>
      <tbody>
        <% post_recipe.ingredients.each do |ingredient| %>
        <tr>
          <td style="width: 50%"><%= ingredient.name %></td>
          <td style="width: 10%"><%= ingredient.amount %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row mx-auto mt-3">
    <table style="width: 60%" class="table table-borderless mx-auto">
      <thead class="border procedure">
        <th class="d-flex pb-0 pt-2 mb-2 align-middle">
          <h5 class="ml-0 py-0 mb-0 jp-font font-weight-bold">つくり方</h5>
        </th>
      </thead>
      <tbody>
        <% post_recipe.procedures.each do |procedure| %>
        <tr>
          <td class="pl-4 text-wrap">
            <span class="mr-3"><%= procedure.step_num %> )</span>
            <%= procedure.body %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="row mt-5">
  <div class="col-md-8 offset-md-2">
    <h5 class="mb-0 ml-5 jp-font font-weight-bold">コメント</h5>
    <%= render partial: '/shared/comments', locals: { post_recipe: post_recipe } %>
  </div>
</div>


