<div class="container">
  <div class="row">
    <h3 class="admin-page-title mx-auto mt-5 py-2 pl-4">お問い合わせ一覧（フォーム）</h3>
  </div>

  <div class="row mt-3">
    <table style="width: 80%" class="table table-borderless mx-auto">
      <% @form_inquiries.each do |form_inquiry| %>
        <tr class="mt-5 border-bottom">
          <td style="width: 12%">
            <%= l form_inquiry.created_at %>
          </td>
          <td style="width: 30%" class="py-0 align-middle text-left">
            <u><%= link_to form_inquiry.user.name, admin_user_path(form_inquiry.user.id) %></u>
          </td>

          <td style="width: 15%" class="py-0 align-middle text-center">
            <% if form_inquiry.response_status == 'outstanding' %>
              <p class="text-danger font-weight-bold mb-0"><%= form_inquiry.response_status_i18n %></p>
            <% elsif form_inquiry.response_status == 'in_progress' %>
              <p class="text-primary mb-0"><%= form_inquiry.response_status_i18n %></p>
            <% else %>
              <%= form_inquiry.response_status_i18n %>
            <% end %>
          </td>

          <td style="width: 15%" class="py-0 align-middle text-center">
            <%= link_to "詳細", admin_form_inquiry_path(form_inquiry.id), class:'btn btn-sm py-0 btn-outline-secondary' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto mt-4 mb-5">
    <%= paginate @form_inquiries %>
    </div>
  </div>
</div>