<div class="container">

  <div class="row">
    <h3 class="admin_title mx-auto mt-3 py-2 pl-4">会員一覧</h3>
  </div>

  <div class="row">
    <table class="table table-borderless">
      <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_profile_image.jpg", size:'80x60' %>
          </td>
          <td>
            <%= link_to user.name, user_path(user.id) %><br />
            <%= user.introduction %>
          </td>
          <td>
            <%= user.is_paid_to_sring %>
          </td>
          <td>
            <%= user.is_deleted_to_sring %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>