<div class="container">
  <div class="row">
    <h3 style='width: 100%' class="page-heading-pink mx-auto mt-5 py-1 text-center">会員一覧</h3>
  </div>

  <div class="row mb-3">
    <div class="col-6 offset-6 text-right">
      <h6 class="text-right mr-5 jp-font">会員数：<%= @user_count %>名</h6>
    </div>
  </div>

  <div class="row">
    <table style="width: 95%" class="table table-borderless mx-auto">
      <% @users.each do |user| %>
        <tr class="mt-5 border-bottom">
          <td style="width: 5%" class='text-right'>
            <%= link_to (attachment_image_tag user, :profile_image, :fill, 150, 150, format: 'jpg', fallback: "no_profile_image.jpg", size:'40x40', class:'rounded-circle'), admin_user_path(user.id) %>
          </td>
          <td style="width: 15%" class='px-1 py-4 text-center'>
            <u><%= link_to user.name, admin_user_path(user.id) %></u>
          </td>
          <td style="width: 17%; font-size: 12px" class="py-0 px-1 align-middle text-center">
            <%= user.is_paid_to_sring %>
          </td>
          <td style="width: 8%" class="py-0 px-1 align-middle text-center">
            <% if user.is_deleted == false %>
              <p class="active_color mb-0"><%= user.is_deleted_to_sring %></p>
            <% else %>
              <p class="inactive_color mb-0"><%= user.is_deleted_to_sring %></p>
            <% end %>
          </td>
          <td style="width: 10%" class="py-0 px-1 align-middle text-center">
            <%= link_to "CHAT", admin_chat_path(user), class: 'btn btn-sm btn-outline-secondary', style: 'font-size: 13px' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto mt-4 mb-5">
    <%= paginate @users %>
    </div>
  </div>
</div>