<!---------------- 管理者：会員詳細 ------------------>

<div style="height: 650px", class="d-flex align-items-center">
  <div class="container">
    <u><h3 class="jp-font-classic"><%= @user.name %>さんの会員情報</h3></u>

    <table style='width:75%' class="table mt-5">
      <tr>
        <td style="width:25%", class="font-weight-bold">ユーザー名</td>
        <td class="ml-3"><%= @user.name %></td>
      </tr>
      <tr>
        <td style="width:25%", class="font-weight-bold">自己紹介</td>
        <td class="ml-3"><%= @user.introduction %></td>
      </tr>
      <tr>
        <td style="width:25%", class="font-weight-bold">メールアドレス</td>
        <td class="ml-3"><%= @user.email %></td>
      </tr>
      <tr>
        <td style="width:25%", class="font-weight-bold">加入プラン</td>
        <td class="ml-3"><%= @user.is_paid_to_sring %></td>
      </tr>
      <tr>
        <td style="width:25%", class="font-weight-bold">会員ステータス</td>
          <% if @user.is_deleted == false %>
            <td class="ml-3 active_color"><%= @user.is_deleted_to_sring %></td>
          <% else %>
            <td class="ml-3 inactive_color"><%= @user.is_deleted_to_sring %></td>
          <% end %>
      </tr>
    </table>

    <div class="d-flex mt-5 ml-2">
      <%= link_to "会員ステータスを編集", edit_admin_user_path(@user.id), class: 'btn btn-sm btn-outline-danger' %>
      <%= link_to "戻る", admin_users_path, class: 'btn btn-sm btn-secondary ml-4' %>
    </div>

  </div>
</div>

