<!---------------- 管理者：会員詳細 ------------------>

<div style="height: 70vh", class="d-flex align-items-center">
  <div class="container">
    <h3 class="jp-font"><%= @user.name %>さんの会員情報</h3>

    <table class="table table-borderless mt-4">
      <tr>
        <td style="width:25%", class="font-weight-bold">ユーザー名</td>
        <td class="ml-3"><%= @user.name %></td>
      </tr>
      <tr>
        <td style="width:25%", class="font-weight-bold">自己紹介</td>
        <td class="ml-3"><%= @user.introduction %></td>
      </tr>
      <tr>
        <td style="width:25%", class="font-weight-bold">メールアドレス</td>
        <td class="ml-3"><%= @user.email %></td>
      </tr>
      <tr>
        <td style="width:25%", class="font-weight-bold">加入プラン</td>
        <td class="ml-3"><%= @user.is_paid_to_sring %></td>
      </tr>
      <tr>
        <td style="width:25%", class="font-weight-bold">会員ステータス</td>
          <% if @user.is_deleted == false %>
            <td class="ml-3 active_color"><%= @user.is_deleted_to_sring %></td>
          <% else %>
            <td class="ml-3 inactive_color"><%= @user.is_deleted_to_sring %></td>
          <% end %>
      </tr>
    </table>

    <div class="d-flex mt-4 ml-2">
      <%= link_to "編集する", edit_admin_user_path(@user.id), class: 'btn btn-sm btn-success' %>
      <%= link_to "戻る", admin_users_path, class: 'btn btn-sm btn-secondary ml-4' %>
    </div>

  </div>
</div>

