<!-----------マイページ（会員詳細）ヘッダー部分--------------->

<div class="row d-flex">
  <div class="col-md-2">
    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: 'no_profile_image.jpg', size:'100x75' %>
  </div>

  <div class="col-md-4">
    <h3><%= user.name %></h3>
    <p><%= user.veg_type %></p>
    <p><%= user.introduction %></p>
  </div>

  <div class="col-md-3">
  </div>

  <div class="col-md-2">
    <% if user.id == current_user.id %>
      <%= link_to "", edit_user_path(current_user.id), class: 'fas fa-user-cog fa-lg text-secondary' %><br/>
      <%= link_to "レシピ投稿", new_recipe_path, class: 'fas fa-edit btn btn-sm btn-success p-2' %>
    <% else %>
      <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
          <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, data: {confirm: "#{user.name}さんのフォローを解除しますか？"}, class:'btn btn-sm btn-info' %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:'btn btn-sm btn-secondary' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr class="border-bottom"></hr>
  </div>
</div>