<!-----------マイページ（会員詳細）ヘッダー部分--------------->

<div class="row d-flex">
  <div class="col-md-2">
    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: 'no_profile_image.jpg', size:'100x75' %>
  </div>

  <div class="col-md-4">
    <h3><%= user.name %></h3>
    <p><%= user.veg_type %></p>
    <p><%= user.introduction %></p>
  </div>

  <div class="col-md-3">
    <span class="fas fa-user-friends mr-3"></span>
    <u><%= link_to "#{user.followings.count} フォロー", follows_user_path(user.id) %></u><br />
    <span class="fas fa-user-friends mr-3 mt-2"></span>
    <u><%= link_to "#{user.followers.count} フォロワー", followers_user_path(user.id) %></u>
  </div>

  <div class="col-md-3">
    <% if user.id == current_user.id %>
      <%= link_to "", edit_user_path(current_user.id), class: 'fas fa-user-cog fa-lg text-secondary' %><br/>
      <%= link_to "レシピ投稿", new_recipe_path, class: 'fas fa-edit btn btn-sm btn-success p-2' %>
    <% else %>
      <%= render partial: 'follow_button', locals: { user: user } %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr class="border-bottom"></hr>
  </div>
</div>