<div style='height: 80vh' class="d-flex align-items-center mt-4 mb-5">
  <div style="width: 40%", class="login-bg mx-auto">

    <h4 class="jp-font text-center mt-4 font-weight-bold">プロフィール編集</h4>

    <div style="width: 70%", class="pt-0 px-4">
      <div class="container">
        <div class="row ml-2">
          <%= form_with model: @user, local:true do |f| %>
            <div class="form-group mt-2">
              <%= f.label :profile_image, 'プロフィール写真:', class:'text-secondary font-weight-bold mb-1' %><br />
              <%= f.attachment_field :profile_image %>
            </div>

            <div class="form-group mt-4">
              <%= f.label :name, 'ユーザー名:', class:'text-secondary font-weight-bold mb-1' %><br />
              <%= f.text_field :name, class:'form-control', size: "40" %>
              <%= render 'layouts/error_messages', obj: @user, column: :name %>
            </div>

            <div class="form-group mt-4">
              <%= f.label :introduction, '自己紹介:', class:'text-secondary font-weight-bold mb-1' %><br />
              <%= f.text_area :introduction, class:'form-control', size: "40x3" %>
              <%= render 'layouts/error_messages', obj: @user, column: :introduction %>
            </div>

            <div class="form-group mt-4">
              <%= f.label :email, 'メールアドレス:', class:'text-secondary font-weight-bold mb-1' %><br />
              <%= f.text_field :email, class:'form-control', size: "40" %>
              <%= render 'layouts/error_messages', obj: @user, column: :email %>
            </div>

            <div class="form-group mt-4">
              <p class="font-weight-bold">加入中のプラン:</p>
            　<%= f.radio_button :is_paid, :false %>
            　<%= f.label :is_paid, "スタンダード・プラン（無料）", {value: :false, style: "display: inline-block;"} %><br />
            　<%= f.radio_button :is_paid, :true %>
            　<%= f.label :is_paid, "プレミアム・プラン（有料）", {value: :true, style: "display: inline-block;"} %>
              <%= render 'layouts/error_messages', obj: @user, column: :is_paid %>
            </div>

            <div class="form-group form-inline pt-3">
              <%= f.submit '変更', class: 'btn btn-sm btn-success px-3' %>
              <%= link_to "退会する", users_quit_confirm_path, class: 'btn btn-sm btn-danger ml-4' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

