<% breadcrumb :user_edit, @user %>

<div style='height: 700px' class="d-flex align-items-center mt-4 mb-5">
  <div class="bg-box-container mx-auto">

    <h4 class="jp-font-classic text-center mt-4 mb-3">プロフィール編集</h4>

    <div class="pt-0 px-4">
      <div class="container">
        <div class="row ml-2">
          <%= form_with model: @user, local:true do |f| %>
            <div class="form-group mt-2">
              <%= f.label :profile_image, 'プロフィール写真:', class:'mb-1 font-weight-bold' %><br />
              <%= f.attachment_field :profile_image %>
            </div>

            <div class="form-group mt-4">
              <%= f.label :name, 'ユーザー名:', class:'mb-1 font-weight-bold' %><br />
              <%= f.text_field :name, class:'form-control', size: "40" %>
              <%= render 'layouts/error_messages', obj: @user, column: :name %>
            </div>

            <div class="form-group mt-4">
              <%= f.label :introduction, '自己紹介:', class:'mb-1 font-weight-bold' %><br />
              <%= f.text_area :introduction, class:'form-control', size: "40x3" %>
              <%= render 'layouts/error_messages', obj: @user, column: :introduction %>
            </div>

            <div>
              <p class='mb-1 mr-1 pt-1 font-weight-bold'>メールアドレス:</p>
              <%= @user.email %>
            </div>

            <div class="mt-4">
              <div class='d-flex'>
                <p class='mb-1 mr-1 pt-1 font-weight-bold'>加入プラン:</p>
                <p class='mb-1 pt-1'><%= @user.is_paid_to_sring %></p>
                <% if @user.is_paid == true %>
                  <%= link_to "解約する", users_cancel_premium_path, method: :PATCH, data: {confirm: "本当に解約しますか？"}, class: 'btn btn-sm btn-outline-danger py-1' %>
                <% else %>
                  <%= link_to "プレミアムに加入", premiums_payment_path, class:'btn btn-sm btn-color py-1' %>
                <% end %>
              </div>
            </div>

            <div class="form-group form-inline pt-3 mt-3 mb-4">
              <%= f.submit '変更', class: 'btn btn-sm btn-warning text-white px-3' %>
              <%= link_to "退会する", users_quit_confirm_path, class: 'btn btn-sm btn-danger ml-4' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

