<div class="container">
<%= render partial: 'mypage_header', locals: { user: @user } %>

<div class="row">
  <div class="col-md-11 wrap">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#tab1" class="nav-link" data-toggle="tab">フォロー中</a>
      </li>
      <li class="nav-item">
        <a href="#tab2" class="nav-link" data-toggle="tab">フォロワー</a>
      </li>
    </ul>

    <div class="tab-content p-4">
      <div id="tab1" class="tab-pane active">
        <table class="table table-borderless">
          <thead>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_profile_image.jpg", size:'80x60' %>
              </td>
              <td>
                <%= link_to user.name, user_path(user.id) %>
                <%= user.introduction %>
              </td>
              <td>
                <% if current_user != user %>
                  <% if user.followed_by?(current_user) %>
                    <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, data: {confirm: "#{user.name}さんのフォローを解除しますか？"}, class:'btn btn-sm btn-info' %>
                  <% else %>
                    <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:'btn btn-sm btn-secondary' %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div id="tab2" class="tab-pane">
        <p>TAB2の投稿が入ります</p>
      </div>

    </div>
  </div>
</div>

</div>