<!----------フォロー中の会員・フォロワーの会員一覧-------------->

<div class="container">
<%= render partial: 'mypage_header', locals: { user: @user } %>

<div class="row">
  <div class="col-md-11 wrap">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#tab1" class="nav-link" data-toggle="tab">フォロー中</a>
      </li>
      <li class="nav-item">
        <a href="#tab2" class="nav-link" data-toggle="tab">フォロワー</a>
      </li>
    </ul>

    <div class="tab-content p-4">
      <div id="tab1" class="tab-pane active">
        <table class="table table-borderless">
          <thead>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody class="add-following">
          <% @followings.each do |following| %>
            <tr id="following_<%= following.id %>">
              <td>
                <%= attachment_image_tag following, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_profile_image.jpg", size:'80x60' %>
              </td>
              <td>
                <%= link_to following.name, user_path(following.id) %>
                <%= following.introduction %>
              </td>
              <td>
                <%= render partial: 'follow_button', locals: { user: following } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div id="tab2" class="tab-pane">
        <table class="table table-borderless">
          <thead>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody class="add-follower">
          <% @followers.each do |follower| %>
            <tr id="follower_<%= follower.id %>">
              <td>
                <%= attachment_image_tag follower, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_profile_image.jpg", size:'80x60' %>
              </td>
              <td>
                <%= link_to follower.name, user_path(follower.id) %>
                <%= follower.introduction %>
              </td>
              <td>
                <%= render partial: 'follow_button', locals: { user: follower } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

</div>