<div class="container">
<%= render partial: 'mypage_header', locals: { user: @user, page_user: @user} %>

  <div class="row mt-3 mb-5">
    <div class="col-md-11 wrap">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#tab1" class="nav-link tab-style" data-toggle="tab">投稿レシピ</a>
        </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link tab-style" data-toggle="tab">いいね</a>
        </li>
        <% if @user.id == current_user.id %>
        <li class="nav-item">
          <a href="#tab3" class="nav-link tab-style" data-toggle="tab">保存レシピ</a>
        </li>
        <li class="nav-item">
          <a href="#tab4" class="nav-link tab-style" data-toggle="tab">閲覧履歴</a>
        </li>
        <li class="nav-item">
          <a href="#tab5" class="nav-link tab-style" data-toggle="tab">下書きレシピ</a>
        </li>
        <% end %>
      </ul>

      <!--タブ：投稿したレシピ-->
      <div class="tab-content px-4 pb-4 border rounded-bottom">
        <div id="tab1" class="tab-pane active">
          <div class="d-flex flex-wrap row-cols-5">
          <% @user_posts.each do |user_post| %>
            <div class="card text-center mt-3 pt-3 ml-4">
              <%= link_to (attachment_image_tag user_post, :recipe_image, :fill, 150, 150, format: 'jpeg'), post_recipe_path(user_post.id), class:'card-img-top' %>
              <%= link_to user_post.title, post_recipe_path(user_post), class:'card-text text-wrap' %>
            </div>
          <% end %>
          </div>
        </div>

        <!--タブ：「いいね」したレシピ-->
        <div id="tab2" class="tab-pane">
          <div class="d-flex flex-wrap row-cols-5">
          <% @liked_posts.each do |liked_post| %>
            <div class="card text-center mt-3 pt-3 ml-4">
            <%= link_to (attachment_image_tag liked_post, :recipe_image, :fill, 150, 150, format: 'jpeg'), post_recipe_path(liked_post.id), class:'card-img-top' %>
              <%= link_to liked_post.title, post_recipe_path(liked_post), class:'card-text text-wrap' %>
              <%= link_to liked_post.user.name, user_path(liked_post.user), class:'card-text text-wrap' %>
            </div>
          <% end %>
          </div>
        </div>

        <!--タブ：保存（ブックマーク）したレシピ-->
        <div id="tab3" class="tab-pane">
          <div class="d-flex flex-wrap row-cols-5">
          <% @saved_posts.each do |saved_post| %>
            <div class="card text-center mt-3 pt-3 ml-4">
              <%= link_to (attachment_image_tag saved_post, :recipe_image, :fill, 150, 150, format: 'jpeg'), post_recipe_path(saved_post.id), class:'card-img-top' %>
              <%= link_to saved_post.title, post_recipe_path(saved_post), class:'card-text text-wrap' %>
              <%= link_to saved_post.user.name, user_path(saved_post.user), class:'card-text text-wrap' %>
            </div>
          <% end %>
          </div>
        </div>

        <!--タブ：閲覧履歴-->
        <div id="tab4" class="tab-pane">
          <p>TAB4の投稿が入ります</p>
        </div>

        <!--タブ：下書き保存したレシピ-->
        <div id="tab5" class="tab-pane">
          <div class="d-flex flex-wrap row-cols-5">
          <% @draft_posts.each do |draft_post| %>
            <div class="card text-center mt-3 pt-3 ml-4">
              <%= link_to (attachment_image_tag draft_post, :recipe_image, :fill, 150, 150, format: 'jpeg'), post_recipe_path(draft_post.id), class:'card-img-top' %>
              <%= link_to draft_post.title, post_recipe_path(draft_post), class:'card-text text-wrap' %>
            </div>
          <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>