<!---------------------- HEADER ----------------------->

<!--エンドユーザーがログインしている場合 -->
<% if user_signed_in? %>
  <li class="nav-item"><%= link_to "ABOUT", about_path, class: 'nav-link' %></li>
  <li class="nav-item ml-1"><%= link_to "MY PAGE", user_path(current_user.id), class: 'nav-link' %></li>
  <li class="nav-item ml-1"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>

<!-- 管理者がログインしている場合 -->
<% elsif admin_signed_in? %>
  <li class="nav-item"><%= link_to "レシピ一覧", admin_recipes_path, class: 'nav-link' %></li>
  <li class="nav-item ml-1"><%= link_to "会員一覧", admin_users_path, class: 'nav-link' %></li>
  <li class="nav-item ml-1"><%= link_to "フォーム", admin_inquiries_path , class: 'nav-link' %></li>
  <li class="nav-item ml-1"><%= link_to "チャット", admin_chats_path, class: 'nav-link' %></li>
  <li class="nav-item ml-1"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>

<!-- ログインしていない場合 -->
<% else %>
  <li class="nav-item"><%= link_to "ABOUT", about_path, class: 'nav-link' %></li>
  <li class="nav-item ml-1"><%= link_to "SIGN UP", new_user_registration_path, class: 'nav-link' %></li>
  <li class="nav-item ml-1"><%= link_to "LOG IN", new_user_session_path, class: 'nav-link' %></li>

<% end %>
