<!---------------------- HEADER ------------------------>

<header class="sticky-top shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container-fluid px-5">

      <!------ Navbar Brand ------>
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin">
          <h4 class="logo-font align-center ml-3 mb-0 pt-2">VegeCook</h4>
        </a>
      <% else %>
        <a class="navbar-brand" href="/">
          <h4 class="logo-font align-center ml-3 mb-0 pt-2">VegeCook</h4>
        </a>
      <% end %>

      <!------- 検索窓 -------->
      <div class="search-window">
      <% if not admin_signed_in? %>
        <%= search_form_for @search, url: post_recipes_searches_path do |f| %>
          <%= f.search_field :title_cont, placeholder: 'レシピを検索', class: 'input ml-4', size: '30' %>
          <%= f.submit "GO!", class:'search-btn rounded-pill' %>
        <% end %>
      <% end %>
      </div>

      <!----- Collapse Button ----->
      <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarTabContent" aria-controls="navbarTabContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="dark-blue-text">
          <i class="fas fa-bars fa-1x"></i>
        </span>
      </button>

      <!---- Collapsible Content ------->
      <div class="collapse navbar-collapse" id="navbarTabContent">
        <ul class="navbar-nav ml-auto">

        <!-- 管理者がログインしている場合-->
        <% if admin_signed_in? %>
          <li class="nav-item"><%= link_to "レシピ一覧", admin_post_recipes_path, class: 'nav-link' %></li>
          <li class="nav-item ml-5"><%= link_to "会員一覧", admin_users_path, class: 'nav-link' %></li>
          <li class="nav-item ml-5"><%= link_to "フォーム", admin_form_inquiries_path , class: 'nav-link' %></li>
          <li class="nav-item ml-5"><%= link_to "チャット", admin_chats_path, class: 'nav-link' %></li>
          <li class="nav-item ml-5"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>

        <!--ユーザー（会員）がログインしている場合 -->
        <% elsif user_signed_in? %>
          <li class="nav-item dropdown nav-link ml-5">
            <a class="dropdown-toggle" href="/about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/about"><p class="jp-font-pop m-0">はじめての方</p></a>
              <a class="dropdown-item" href="/premium"><p class="jp-font-pop m-0">プレミアム・プランのご案内</p></a>
              <a class="dropdown-item" href="/form_inquiries"><p class="jp-font-pop m-0">お問い合わせ</p></a>
            </div>
          </li>
          <li class="nav-item ml-5 d-flex">
            <%= link_to (attachment_image_tag current_user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: 'no_profile_image.jpg', size:'25x25', class:'mt-2 rounded-circle'), user_path(current_user.id) %>
            <%= link_to "MY PAGE", user_path(current_user.id), class: 'nav-link ml-2' %>
          </li>
          <li class="nav-item ml-5"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>

        <!-- ログインしていない場合 -->
        <% else %>
          <li class="nav-item ml-5 dropdown nav-link">
            <a class="dropdown-toggle" href="/about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ABOUT
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/about"><p class="jp-font-pop m-0">はじめての方</p></a>
              <a class="dropdown-item" href="/premium"><p class="jp-font-pop m-0">プレミアム・プランのご案内</p></a>
              <a class="dropdown-item" href="/form_inquiries"><p class="jp-font-pop m-0">お問い合わせ</p></a>
            </div>
          </li>
          <li class="nav-item ml-5"><%= link_to "SIGN UP", new_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item ml-5"><%= link_to "LOG IN", new_user_session_path, class: 'nav-link' %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

