<!DOCTYPE html>
<html>
  <head>
    <title>Vegecook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <script src="https://kit.fontawesome.com/d64cb48cf6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <div id='footer-position'>
      <main>
        <%= render 'layouts/header' %>
        <%= render 'layouts/flash' %>
        <%= breadcrumbs separator: " &rsaquo; ", class:'text-warning', id:'breadcrumbs-style' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </main>
    </div>
  </body>
</html>
